* {
    margin: 0;
    padding: 0;
    outline: 0;
    user-select: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    --black: #000000;
    --white: #FFFFFF;
    --action: #0055FF;
    
    width: 100%;
    min-height: 100vh;
    font-family: sans-serif;
}

.cabacalho {
    width: 100%;
    height: 84px;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabacalho h1 {
    font-size: 24px;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
}

.container {
    width: 644px;
    height: auto;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-infos {
    display: flex;
    align-items: center;
    justify-content: start;
}

.user-infos img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    margin-right: 1rem;
}

.user-infos p {
    font-weight: bold;
    font-size: 18px;
}

.posts {
    max-height: 354px;
    width: 100%;
    margin-top: 14px;
}

.posts img {
    border-radius: 10px;
    width: 100%;
    max-height: 354px;
    transition: 0.5s;
}

.posts img:hover {
    transform: scale(1.01);
}

.acoes {
    margin-top: 10px;
}

.acoes a {
    color: var(--black);
    transition: 0.5s;
    padding-left: 8px;
}

.acoes a:hover {
    text-decoration: underline;
    color: var(--action);

}

@media (max-width: 670px) {
    .container {
        width: 95%;
    }

}
